## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Pevek,69.7008,170.3133,12.63,91,100,13.42,light snow
1,1,Yar-Sale,66.8333,70.8333,28.80,92,100,6.64,overcast clouds
2,2,Bredasdorp,-34.5322,20.0403,63.72,88,100,6.91,overcast clouds
3,3,Cherskiy,68.7500,161.3000,6.98,96,100,4.45,overcast clouds
4,4,Puerto Ayora,-0.7393,-90.3518,76.96,81,64,9.44,broken clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
tempfilter_df = city_data_df.loc[(city_data_df['Max Temp']>=min_temp) & (city_data_df['Max Temp']<=max_temp)]
tempfilter_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
4,4,Puerto Ayora,-0.7393,-90.3518,76.96,81,64,9.44,broken clouds
6,6,Rikitea,-23.1203,-134.9692,74.41,80,84,21.83,broken clouds
8,8,General Roca,-39.0333,-67.5833,72.63,35,49,15.03,scattered clouds
9,9,Saint-Pierre,-21.3393,55.4781,71.28,67,0,8.05,clear sky
12,12,Chunhuhub,19.5500,-88.6833,74.77,91,98,2.66,overcast clouds

In [7]:
# 4a. Determine if there are any empty rows.
tempfilter_df.count()

City_ID        240
City           240
Lat            240
Lng            240
Max Temp       240
Humidity       240
Cloudiness     240
Wind Speed     240
Description    240
dtype: int64

In [8]:
tempfilter_df.isnull().sum()

City_ID        0
City           0
Lat            0
Lng            0
Max Temp       0
Humidity       0
Cloudiness     0
Wind Speed     0
Description    0
dtype: int64

In [ ]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

###
# {TK SAYS} - there are not empty rows
###

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = tempfilter_df[["City", "Max Temp", "Description", "Lat", "Lng"]].copy()

### removed field: "Country"

###
# {TK SAYS} - "Country" was not part of Deliverable 1, and now it is being asked for 
# - I am omitting Country because I did not pull it for Deliverable 1.
###

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head()

            City  Max Temp       Description      Lat       Lng Hotel Name
4   Puerto Ayora     76.96     broken clouds  -0.7393  -90.3518
6        Rikitea     74.41     broken clouds -23.1203 -134.9692
8   General Roca     72.63  scattered clouds -39.0333  -67.5833
9   Saint-Pierre     71.28         clear sky -21.3393   55.4781
12     Chunhuhub     74.77   overcast clouds  19.5500  -88.6833

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

   
    
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
# params

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
# hotels

# 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print("All set")
    except (IndexError):
        print("Hotel not found... skipping.")

All set
All set
All set
All set
Hotel not found... skipping.
All set
All set
All set
All set
All set
All set
Hotel not found... skipping.
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
Hotel not found... skipping.
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
Hotel not found... skipping.
All set
All set
All set
All set
All set
All set
All set
All set
Hotel not found... skipping.
All set
All set
All set
Hotel not found... skipping.
All set
All set
All set
All set
All set
All set
All set
All set
Hotel not found... skipping.
All set
All set
All set
All set
All set
Hotel not found... skipping.
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
Hotel not found... skipping.
All set
All set
All set
All set
All set
All set
Hotel not found... skipping.
Hotel not found... skipping.
All set
Hotel not found... skipping.
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
Hotel not found... skipping.
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
Hotel not found... skipping.
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
Hotel not found... skipping.
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
Hotel not found... skipping.
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
Hotel not found... skipping.
All set
All set
All set
Hotel not found... skipping.
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
Hotel not found... skipping.
All set
All set
Hotel not found... skipping.
All set
All set
Hotel not found... skipping.
All set
All set
All set
All set
All set

In [14]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.isnull().sum()

City           0
Max Temp       0
Description    0
Lat            0
Lng            0
Hotel Name     0
dtype: int64

In [15]:
# 7. Drop the rows where there is no Hotel Name.
hot1_df=hotel_df.loc[hotel_df['Hotel Name']!=""]

In [17]:
# 7. Drop the rows where there is no Hotel Name.
hot1_df.count()

City           219
Max Temp       219
Description    219
Lat            219
Lng            219
Hotel Name     219
dtype: int64

In [19]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hot1_df.to_csv(output_data_file, index_label="City_ID")

In [26]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.

### removed field: "Country" (Again)

###
# {TK SAYS} - Again "Country" was not part of Deliverable 1, and now it is being asked for 
# - I am omitting Country because I did not pull it for Deliverable 1.
###

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [27]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hot1_df.iterrows()]

In [28]:
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
loc_df = hot1_df[["Lat", "Lng"]]

In [29]:
loc_df.head()

        Lat       Lng
4   -0.7393  -90.3518
6  -23.1203 -134.9692
8  -39.0333  -67.5833
9  -21.3393   55.4781
18  11.2833  -15.8333

In [33]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(loc_df, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
import matplotlib.pyplot as plt
plt.savefig("WeatherPy_vacation_map.png")