## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Mount Pleasant,US,32.7941,-79.8626,74.05,92,40,8.01,scattered clouds
1,1,Paamiut,GL,61.9940,-49.6678,36.79,78,100,17.65,overcast clouds
2,2,Lagoa,PT,39.0500,-27.9833,67.78,70,28,7.07,scattered clouds
3,3,Hobart,AU,-42.8794,147.3294,60.26,85,90,1.99,overcast clouds
4,4,Talara,PE,-4.5772,-81.2719,65.16,82,20,18.41,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
tempfilter_df = city_data_df.loc[(city_data_df['Max Temp']>=min_temp) & (city_data_df['Max Temp']<=max_temp)]
tempfilter_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Mount Pleasant,US,32.7941,-79.8626,74.05,92,40,8.01,scattered clouds
7,7,Arraial Do Cabo,BR,-22.9661,-42.0278,75.16,60,20,3.44,few clouds
9,9,Ribeira Grande,PT,38.5167,-28.7000,72.00,78,20,5.75,few clouds
11,11,San Patricio,US,28.0170,-97.5169,75.06,91,50,5.10,scattered clouds
13,13,Noumea,NC,-22.2763,166.4572,75.99,99,17,3.44,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
tempfilter_df.count()

City_ID        258
City           258
Country        257
Lat            258
Lng            258
Max Temp       258
Humidity       258
Cloudiness     258
Wind Speed     258
Description    258
dtype: int64

In [6]:
# 4a. Determine if there are any empty rows.
tempfilter_df.isnull().sum()

City_ID        0
City           0
Country        1
Lat            0
Lng            0
Max Temp       0
Humidity       0
Cloudiness     0
Wind Speed     0
Description    0
dtype: int64

In [7]:
# 4a. Determine if there are any empty rows.
tempfilter_df.loc[tempfilter_df['Country'].isnull()]

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
196,196,Walvis Bay,NaN,-22.9575,14.5053,72.55,43,0,11.5,clear sky

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
tempfilter_df=tempfilter_df.dropna()

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
tempfilter_df.count()

City_ID        257
City           257
Country        257
Lat            257
Lng            257
Max Temp       257
Humidity       257
Cloudiness     257
Wind Speed     257
Description    257
dtype: int64

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = tempfilter_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Mount Pleasant,US,74.05,scattered clouds,32.7941,-79.8626,
7,Arraial Do Cabo,BR,75.16,few clouds,-22.9661,-42.0278,
9,Ribeira Grande,PT,72.00,few clouds,38.5167,-28.7000,
11,San Patricio,US,75.06,scattered clouds,28.0170,-97.5169,
13,Noumea,NC,75.99,few clouds,-22.2763,166.4572,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

   
    
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
# params

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
# hotels

# 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print("All set")
    except (IndexError):
        print("Hotel not found... skipping.")

All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
Hotel not found... skipping.
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
Hotel not found... skipping.
All set
Hotel not found... skipping.
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
Hotel not found... skipping.
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
Hotel not found... skipping.
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
Hotel not found... skipping.
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
Hotel not found... skipping.
All set
All set
All set
All set
All set
Hotel not found... skipping.
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
Hotel not found... skipping.
All set
All set
All set
All set
All set
All set
All set
All set
All set
Hotel not found... skipping.
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
All set
Hotel not found... skipping.
All set
All set
All set
All set
All set
All set
Hotel not found... skipping.
All set

In [12]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.isnull().sum()

City           0
Country        0
Max Temp       0
Description    0
Lat            0
Lng            0
Hotel Name     0
dtype: int64

In [13]:
# 7. Drop the rows where there is no Hotel Name.
hot1_df=hotel_df.loc[hotel_df['Hotel Name']!=""]

In [14]:
# 7. Drop the rows where there is no Hotel Name.
hot1_df.count()

City           245
Country        245
Max Temp       245
Description    245
Lat            245
Lng            245
Hotel Name     245
dtype: int64

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hot1_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [17]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hot1_df.iterrows()]

In [18]:
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
loc_df = hot1_df[["Lat", "Lng"]]

In [19]:
loc_df.head()

        Lat       Lng
0   32.7941  -79.8626
7  -22.9661  -42.0278
9   38.5167  -28.7000
11  28.0170  -97.5169
13 -22.2763  166.4572

In [20]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(loc_df, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))